rpc-core/src/main/resources/META-INF/rpcwheel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.haiswang.com/schema/rpcwheel" 
            targetNamespace="http://www.haiswang.com/schema/rpcwheel" >
    <!-- 定义批注 -->
    <xsd:annotation>
        <xsd:documentation>
            <![CDATA[ Namespace support for the rpc services provided by rpcwheel framework. ]]></xsd:documentation>
    </xsd:annotation>
    
    <!-- 服务标签的属性定义 -->
    <xsd:complexType name="serviceType">
        <!-- xsd:token数据类型原自于字符串数据类型,与之不同的是,XML 处理器会移除换行符、回车、制表符、开头和结尾的空格以及（连续的）空格 -->
        <xsd:attribute name="interface" type="xsd:token" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[ Service interface. ]]></xsd:documentation>
                <xsd:appinfo>
                    <tool:annotation>
                        <tool:expected-type type="java.lang.Class"/>
                    </tool:annotation>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
		<xsd:attribute name="ref" type="xsd:string" use="required">
		    <xsd:annotation>
		        <xsd:documentation>
		            <![CDATA[ Service interface implement reference. ]]></xsd:documentation>
		    </xsd:annotation>
		</xsd:attribute>
    </xsd:complexType>
    
    <!-- 配置服务 -->
    <xsd:attribute name="service" type="serviceType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ RPC Service Tag ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>
    
    <!-- 注册中心标签的属性定义 -->
    <xsd:complexType name="registryType">
        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ Registry center name. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        
        <xsd:attribute name="address" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ Registry center address. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <!-- 配置注册中心 -->
    <xsd:element name="registry" type="registryType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ Registry center Tag ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <!-- client端引用服务的标签 -->
    <xsd:complexType name="referenceType">
        <xsd:attribute name="id" type="xsd:ID" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>     
        
        <xsd:attribute name="interface" type="xsd:token" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[ Service interface. ]]></xsd:documentation>
                <xsd:appinfo>
                    <tool:annotation>
                        <tool:expected-type type="java.lang.Class"/>
                    </tool:annotation>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
    <!-- client端引用服务 -->
    <xsd:element name="reference" type="referenceType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Reference Tag ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
</xsd:schema>